@{
  Layout = "_Layout";
}
<h1>Welcome to Clairs Salon Tracker</h1>
<div class="fade-in-image">
  <p><img src='~/img/salon2.png'/></p>
</div>
<p>@Html.ActionLink("🙄See all clients", "Index", "Clients")</p> <p>@Html.ActionLink("🤩See all stylists", "Index", "Stylists")</p>